body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* Стилі для обнулення відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* обнулення базових властивостей списків (ul) */
ul, ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* обнулення базових властивостей у посилань */
a {
  text-decoration: none;
}
/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Властивості для обнулення курсиву address */
address {
  font-style: normal;
}


/**====================body===============**/
/*=====================header==============*/

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-containe {
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.nav-logo-part {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
  margin-left: auto;
  padding: 24px 0;
  display: flex;
}
.address-list {
  display: flex;
  gap: 40px;
}
.header-address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
/**=====================main================**/
/* =====================hero=================*/
.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin-bottom: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 56px
  min-width: 169px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/*========================features============*/
.features {
}
.visually-hidden {
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
}
.features-item {
}
.features-sabtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*=======================Team============*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}
.team-taste-imge {
}
.team-sabtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*========================Portfolio=========*/
.portfolio {
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-taste-imge {
}
.portfolio-sabtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/**=======================FOOTER===========**/
.footer {
  font-family: "Raleway", sans-serif;
  background: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  
}
.footer-logo-part {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

